/*to use this font*/
@import url(https://fonts.googleapis.com/css?family=Montserrat);

body {
    font-family: montserrat, arial, verdana;
}

input {
    display: block;
}
main {
    text-align: center;
    margin: 0;
    min-width: 100vh;
    min-height: 100vh;
}
.landingpagediv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.welcomediv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 60%;
}
.signinbtn {
    align-self: flex-end;
    float: right;
    right: 5px;
}
.logobrand {
    width: 40%;
}
/*.welcomediv img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
}*/
.signbtn:focus .landing {
    visibility: hidden;
}
header {
    padding: 10px;
    height: 100px;
    width: 100%;
    background-color: #44f0e5;
}

.logoimg {
    border-radius: 50%;
    height: 100px;
    width: 100px;
}
.logotxt {
    padding-bottom: 20px;
    font-size: 30px;
}
.navbar {
    float: right;
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
}
.navbar li {
    font-family: "Roboto", sans-serif;
    font-size: 1.5em;
    line-height: 35px;
    height: 35px;
    float: left;
    padding: 12px;
    margin-right: 10px;
}

.navbar a {
    text-decoration: none;
    color: #fff;
    display: block;
    transition: 0.3s background-color;
    text-align: left;
}

.navbar a:hover {
    background-color: #a9a9a9;
}

.navbar a.active {
    background-color: #fff;
    color: #444;
    cursor: default;
}
.headerdiv {
    display: flex;
    flex-direction: column;
    height: 100px;
    background-color: #44f0e5;
}
.userloggeddiv {
    right: 5px;
    position: absolute;
    display: flex;
    float: right;
    margin-left: auto;
    justify-content: space-around;
    align-items: center;
    width: 200px;
    height: 100px;
}
.userlogged {
    align-self: center;
}
.logodiv {
    border-radius: 50%;
    float: left;
    justify-content: space-around;
    height: 100px;
    width: 100px;
}
.imgdiv {
    align-self: center;
}
.profilepic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 10px solid white;
}

.profileimage {
    width: 80px;
    height: 80px;
}
.username {
    display: inline;
}
.regForm,
.loginForm {
    background: white;
    border: 0 none;
    border-radius: 3px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    padding: 20px 30px;
    width: 50%;
    margin: 10% 10% 30% 20%;
    /*stacking fieldsets above each other*/
    position: relative;
    text-align: center !important;
}
.loginForm {
    width: 30%;
    margin: 10% 10% 40% 30%;
}
.regForm input,
.loginForm input {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
    width: 95%;
    font-family: montserrat;
    color: #2c3e50;
    font-size: 13px;
}
button {
    width: 100px;
    background: #27ada9;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 3px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}
.friendbutton {
    width: 180px;
}
.titletxt {
    font-size: 15px;
    color: #2c3e50;
    margin-bottom: 10px;
    margin-top: 10px;
}
.upload-btn {
    position: relative;
    overflow: hidden;
    display: inline-block;
    margin-top: 5%;
}
.uploadprofilepic {
    position: fixed;
    top: 35%;
    right: 0;
    bottom: 0;
    left: 40%;
    width: 400px;
    height: 200px;
    z-index: 99999;
    border-radius: 20px;
    border: 2px solid black;
    background-color: white;
    text-align: center;
}
.closemodal {
    position: absolute;
    top: 10px;
    right: 20px !important;
    margin-bottom: 20px;
    display: block;
}
.uploadtxt {
    padding-top: 20px;
}
.btn {
    border: 2px solid gray;
    color: gray;
    background-color: white;
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
}
.friendsWrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.somefriend {
    width: 100px;
    height: 100px;
}
figure {
    width: 150px;
    height: 150px;
    text-align: center;
    font-style: italic;
    font-size: smaller;
    text-indent: 0;
    border: thin silver solid;
    margin: 0.5em;
    padding: 0.5em;
}
.friends,
.pendingfriends {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.upload-btn input[type="file"] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}
/*/////////////////////////  profile display //////////////////////////*/

aside {
    position: relative;
    display: block;
    height: 66vh;
    overflow: hidden;
    margin: auto;
    margin-top: 10vh;
    text-align: center;
    padding: 5em;
    box-shadow: -4em 0 6em -6em #000000, 4em 0 6em -6em #000000;
    -webkit-box-shadow: -4em 0 6em -6em #000000, 4em 0 6em -6em #000000;
    -moz-box-shadow: -4em 0 6em -6em #000000, 4em 0 6em -6em #000000;
    -o-box-shadow: -4em 0 6em -6em #000000, 4em 0 6em -6em #000000;
    -webkit-animation: shadow 1s linear forwards;
    -moz-animation: shadow 1s linear forwards;
    animation: shadow 1s linear forwards;
    -webkit-animation-delay: 0.25s;
    -moz-animation-delay: 0.25s;
    animation-delay: 0.25s;
}
.fa-edit {
    align-self: center;
}
.biodisplaydiv {
    display: flex;
    align-content: center;
    justify-content: center;
}
.biotxtarea {
    width: 500px;
    height: 100px;
}
@-moz-keyframes shadow {
    from {
        box-shadow: 0 0 6em -6em #000000, 0 0 6em -6em #000000;
        -webkit-box-shadow: 0 0 6em -6em #000000, 0 0 6em -6em #000000;
        -moz-box-shadow: 0 0 6em -6em #000000, 0 0 6em -6em #000000;
        -o-box-shadow: 0 0 6em -6em #000000, 0 0 6em -6em #000000;
        max-width: 0em;
    }
    to {
        box-shadow: -4em 0 6em -6em #000000, 4em 0 6em -6em #000000;
        -webkit-box-shadow: -4em 0 6em -6em #000000, 4em 0 6em -6em #000000;
        -moz-box-shadow: -4em 0 6em -6em #000000, 4em 0 6em -6em #000000;
        -o-box-shadow: -4em 0 6em -6em #000000, 4em 0 6em -6em #000000;
        max-width: 30em;
    }
}

@keyframes shadow {
    from {
        box-shadow: 0 0 6em -6em #000000, 0 0 6em -6em #000000;
        -webkit-box-shadow: 0 0 6em -6em #000000, 0 0 6em -6em #000000;
        -moz-box-shadow: 0 0 6em -6em #000000, 0 0 6em -6em #000000;
        -o-box-shadow: 0 0 6em -6em #000000, 0 0 6em -6em #000000;
        max-width: 0em;
    }
    to {
        box-shadow: -4em 0 6em -6em #000000, 4em 0 6em -6em #000000;
        -webkit-box-shadow: -4em 0 6em -6em #000000, 4em 0 6em -6em #000000;
        -moz-box-shadow: -4em 0 6em -6em #000000, 4em 0 6em -6em #000000;
        -o-box-shadow: -4em 0 6em -6em #000000, 4em 0 6em -6em #000000;
        max-width: 30em;
    }
}

@-webkit-keyframes shadow {
    from {
        box-shadow: 0 0 6em -6em #000000, 0 0 6em -6em #000000;
        -webkit-box-shadow: 0 0 6em -6em #000000, 0 0 6em -6em #000000;
        -moz-box-shadow: 0 0 6em -6em #000000, 0 0 6em -6em #000000;
        -o-box-shadow: 0 0 6em -6em #000000, 0 0 6em -6em #000000;
        max-width: 0em;
    }
    to {
        box-shadow: -4em 0 6em -6em #000000, 4em 0 6em -6em #000000;
        -webkit-box-shadow: -4em 0 6em -6em #000000, 4em 0 6em -6em #000000;
        -moz-box-shadow: -4em 0 6em -6em #000000, 4em 0 6em -6em #000000;
        -o-box-shadow: -4em 0 6em -6em #000000, 4em 0 6em -6em #000000;
        max-width: 30em;
    }
}

profilepicdisplay img {
    width: 10em;
    opacity: 0;
    border-radius: 50%;
    box-shadow: 0.25em 0.25em 0.75em 0 #999;
    -webkit-box-shadow: 0.25em 0.25em 0.75em 0 #999;
    -moz-box-shadow: 0.25em 0.25em 0.75em 0 #999;
    -o-box-shadow: 0.25em 0.25em 0.75em 0 #999;
    -webkit-animation: circle 0.25s linear forwards;
    -moz-animation: circle 0.25s linear forwards;
    animation: circle 0.25s linear forwards;
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    animation-delay: 1s;
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -ms-transition: all 0.25s ease;
    -kthtml-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

@-webkit-keyframes circle {
    from {
        opacity: 0;
    }
    to {
        opacity: 100;
    }
}

@-moz-keyframes circle {
    from {
        opacity: 0;
    }
    to {
        opacity: 100;
    }
}

@keyframes circle {
    from {
        opacity: 0;
    }
    to {
        opacity: 100;
    }
}

profilepicdisplay img:hover {
    box-shadow: -0.25em 0.25em 0.75em 0 #999;
    -webkit-box-shadow: 0em 0em 1em 0 #999;
    -moz-box-shadow: -0.25em 0.25em 0.75em 0 #999;
    -o-box-shadow: -0.25em 0.25em 0.75em 0 #999;
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -ms-transition: all 0.25s ease;
    -kthtml-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

profilepicdisplay {
    font: 1.25em/1em poiret one, sans-serif;
    letter-spacing: 0.5em;
    text-transform: uppercase;
}

profilepicdisplay h2 {
    font-size: 0.75em;
}

.profilebio {
    font: 1.3em/1.25em open sans, sans-serif;
    font-variant: small-caps;
    letter-spacing: 0.025em;
    margin-top: 2em;
}

.profilepicdisplay h1,
.profilepicdisplay h2,
div {
    opacity: 0;
    -webkit-animation: fade 1s linear forwards;
    -moz-animation: fade 1s linear forwards;
    animation: fade 1s linear forwards;
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    animation-delay: 1s;
}

@-webkit-keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 100;
    }
}

@-moz-keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 100;
    }
}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 100;
    }
}
/**********************************************************************/
